<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{% block title %}E-Learning CMS{% endblock %}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>

  <!-- NAVBAR -->
  <nav class="navbar">
    <div class="navbar-inner">
      <a class="navbar-brand" href="/">E-Learning CMS</a>

      <div class="navbar-links" id="nav-links">
        <!-- JS inject -->
      </div>
    </div>
  </nav>

  <!-- MAIN APP -->
  <main class="app-container">
    {% block content %}{% endblock %}
  </main>

  <!-- JS -->
  <script src="/static/js/app.js"></script>
  {% block scripts %}{% endblock %}

</body>
</html>